/* Base Application Styles */
body {
  color: #333;
  background: #e3e3e3;
  font-size: 16px;
}

.index img {
  margin: auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}
